/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
 
    background-color: white;
    #EBE7E7
}




section.head{
    background: #3F51B5;
    width: 100%;
    opacity: 80%;
    margin: 10px 0;
    height:70px;
    position: relative;
    z-index: 9999;
   
}


section h1{
        margin: 10px;
}



nav.menu li{
    list-style: none;
    display: block;
    
    margin-left: 220px;
    vertical-align: middle;
    text-align: center;
    line-height: 100px;
    
    margin: 05px;


}

nav.menu li a{
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 24px;
    vertical-align: middle;
    display: table-cell
    height: 100px;
    text-align: center;
    
}

nav.menu {
    display: none;
    right: 10px;
    position: absolute;
    /*top: 0;
    left: 0;
    right: 0;*/
    background-color: #3F51B5;
    opacity: 20%;
    width: 45%;
    height: 80vh;
    z-index: 9998;
}

/*section.Hill-image img{
    width: 45%;
    height: 700px;

}*/

section.head>div{
    height: 50px;
}

div.left{
    display: inline-block;
    float: left;
    width: 25%;

}

section.head h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 48px;
    color: white;
    margin: 10px;
    margin-top: 3px;
}

div.right{
    display: inline-block;
    width: 75%;
    text-align: right;
}

section.hero h2 {
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-size: 30px;
    top: 450px;
    right: 200px;
}

.hamburger{
    position: relative;
    width: 35px;
    margin: 15px;
    height: auto;
    float: right;
    cursor: pointer;
    display: inline-block;
}


.bar1, .bar2, .bar3{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}












footer li{

    display: inline-block;
    list-style: none;
    padding: 15px;
}

footer{
    text-align: center;
    align-self: center;
    padding: 10 px;
}

footer a{
    color: #3F51B5;
    text-decoration: none;
}
section.hero section.left img{

    float: left;
    display: block;
    height: inherit;
    width: 80%;
}


section.hero {
    position: relative;
    width: 100%;
    height:90vh;
}

section.hero section.left {
    float: left;
    display: block;
    height: inherit;
    width: 50%;
    /*background: blue;*/
}

.hero .anime-image-wrapper{
    position: absolute;
}


.hero .anime-image-wrapper #plane{
   height: 10vh;
   display: block;
   margin-left: 590px;
   margin-top: 70px;
}

/*#plane { transition: all 0.3s ease-in-out 0s; }*/

#plane:hover
{
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.5s ease-in-out 0s;
}


.hero .anime-image-wrapper #travel{
   height: 10vh;
   display: block;
   margin-left: 600px;
   margin-top: 90px;

}

#travel:hover
{
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.5s ease-in-out 0s;
}

.hero .anime-image-wrapper #chat{
   height: 11vh;
   display: block;
   margin-left: 600px;
   margin-top: 90px;
}

#chat:hover
{
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.5s ease-in-out 0s;
}


.hero .anime-image-wrapper #friends{
   height: 07vh;
   display: block;
   margin-left: 600px;
   margin-top: 90px;

}

#friends:hover
{
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.5s ease-in-out 0s;
}


section.hero section.right {
    float: left;
    display: block;
    height: inherit;
    width: 50%;
    /*background: red;*/
}



section.hero section.right2{

    float: right;
    display: block;
    position:relative;
    top: -350px;
    bottom: 10px;
    
}



.download-buttons{
    float: right;
}

.download-buttons #button1{
    height: 15vh;
    margin-top: 375px;
    margin-left: 0px;

}

.download-buttons #button2{
    height: 10vh;
    display: block;
    margin-left: 20px;
    
}




/*section.hero section.right section.video video{
    width: 40%;
    top: -30px;
}*/

.phone-video-wrapper {
    position: relative;
    margin-top: 6px;
    margin-left: -12px;
}

.phone-video-wrapper #phone{
    position: absolute;
}

.phone-video-wrapper #video_container{
    position: absolute;
    width: 262px;
    top: 133px;
    left: 113px;
}

.phone-video-wrapper #video_container video{
    width: 100%;
    height: auto;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    p:first-letter,
    div:first-letter,
    blockquote:first-letter,
    li:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
